<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dul.TodoWithFirebase</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.941179589164-urlr3iv6arljb27vef5hof1beft7rr0j</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>941179589164-urlr3iv6arljb27vef5hof1beft7rr0j.apps.googleusercontent.com</string>
</dict>
</plist>
